.app_login{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.app_login_heading{
    text-align: center;
}

.app_login_button{
    width: 100%;
    background-color: rgb(138, 52, 142);
    outline: none;
    border: none;
    color: #fff;
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
}

.app_login_textp{
    color: rgb(138, 52, 142);
}